*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@media(min-width:767px) and (max-width:991px) {
    .sidebar{
        background-color: rgba(255, 255, 255,0.15) !important;
        backdrop-filter: blur(10px) !important;
    } 
    .navbar-nav li  {
        background-color:none;
        padding: 12px;
    }
    .navbar-nav li a {
        padding: 12px;
    }
    .carousol-imgs img {
        height: 50vh !important;
       
    }
    .offers .offer-box .offer-info .headling-bigger{
        font-size: 25px !important;
    }
    .offers .offer-box .offer-info .offer-title-1{

        font-size: 18px !important;
    }
    .offers .offer-box .offer-img img{
        
        width: 1170px !important;
      
    }
    .man-div {
        padding: 10px !important;
    }
}
@media(min-width:320px) and (max-width:766px) {
    .sidebar{
        background-color: rgba(255, 255, 255,0.15) !important;
        backdrop-filter: blur(10px) !important;
    } 
    .navbar-nav li  {
        background-color:none;
        padding: 12px;
    }
    .navbar-nav li a {
        padding: 12px;
    }
    .carousol-imgs img {
        height: 40vh !important;
       
    }
    .offers .offer-box .offer-info .headling-bigger{
        font-size: 25px !important;
    }
    .offers .offer-box .offer-img img{
        padding: 10px !important;
        width: 350px !important;
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
    }
    .offers .offer-box .offer-info .offer-title-1{

        font-size: 18px !important;
    }
    .man-div {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px !important;
        
    }
    .mans-card {
        width:20rem !important ;
    }

    .container h1 , h3 {
     text-align: center !important;
    }
    .man-div img{
        width: 100%;
        height: 240px !important;
    }
      .footer-div h1 , p{
     justify-content: center;
     text-align: center;
      }
      .offer-img img{
        height: 300px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
      }
}
/* navbar css start */

.nav-item a{
   
    font-size: 15px;
    font-weight:550;
}
.nav-item a:hover{
    color: purple;
}
.navbar-brand {
    font-weight: bold;
}
.img img{
  height: 50px;
  margin-bottom: 5px;
}
nav{
    background-color: rgb(245, 245, 245);
    margin-bottom: 70px !important;
}
.scarch-input{
    width: 450px !important;
    
    text-align: center;
}
.demo-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: purple !important;
    font-weight: bold;
    font-size: 28px !important;
}
.input:hover{
    border:1px solid white !important;
    background-color: aliceblue !important;

}
.scarch-input{
    width: 350px !important;
    
}
.scarch-box i {
    position: absolute;
   padding-left: 20px;
   padding-top: 10px !important;
}
.profiles a{
   color: black !important;
   font-weight: 500;
}
.profiles a:hover{
    color: purple !important;
}
/* navbar css end */
/* carousol-div start */
.carousol-imgs img {
    height: 80vh;
   
}
.carousol-div{
    margin-top: 100px !important;
}
/* carousol-div end */

/* offer css start */

.ipad-img{
    height: 600px !important;
}
.offer-photo-div{
    height: 300px !important;
    width: 500px !important; 
}
.offers{
    padding-top: 8.75rem;
}
.offers .offer-box .offer-img::before{
    position: absolute; 
    content: "";
    top: 0;
    left: 100%;
    z-index: 2;
    display: block;
    height: 100%;
    background-image: -webkit-linear-gradient(to right, rgba(255, 247, 247, 0)0%, rgba(255, 245, 245, 0.3)100%);
    background-image: linear-gradient(to right, rgba(255,255,255,0)0%, rgba(255,255,255,0.3)100%);
    transform: skewx(-25deg);
}
.offers .offer-box .offer-img img{
    padding: 10px;
    object-fit: cover;
    width: 450px;
   
}
.offers .offer-overflow::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
   
   z-index: 1;
}
.offers .offer-box .offer-info{
   position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.offers .offer-box .offer-info .headling-bigger{
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    color:white;
}
.offers .offer-box .offer-info .offer-title-1{
   color: white;
   font-size: 25px;
   font-weight: 300;
   margin-bottom: 0;
   letter-spacing: 2px;
}
.offers .offer-box .offer-info .btn-outline-danger{
    color: white;
    border-color: white;
    transition: all 0.3s ease-in-out;
}
button:hover{
    border-color: red !important;
    background-color: rgb(255, 0, 0) !important;
}
/* offer css end */
/* man-div start */
.mans-card span{
    
  color: black;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.mans-card p {
    font-weight: 500;
    color: green;
}
.man-div {
    padding: 10px !important;
}
.man-div:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.man-div img{
    width: 100%;
    height: 170px;
}

/* man-div end */
/* infomr-div start */
 .infomr-div{
    background-color: #e8e6e6;
    
 }
 .infomr-div h2{
    font-size: 22px;
    padding-top: 20px;
    color: #555353;
 }
 .infomr-div h4 {
    font-size: 15px !important;
    color: #8d8989 !important;
 }
 .infomr-div p {
    font-size: 14px;
    color: #555353 !important;
 }
/* infomr-div end */
/* footer div start */

.footer-div p{
    font-size: 18px;
    font-weight: 400;
  }
  .footer-div a {
    text-decoration: none;
    color:white;
  }
  .footer-div a:hover{
    color: purple !important;
  }

  .social-icons a{
    
      text-decoration: none;
      font-size: 30px;
      margin-right: 15px;
      color: white;
      display: inline-block;
      transition: 0.5s;
  }
  
  .social-icons a:hover {
      color: rgb(4, 0, 255);
      transform: translateY(-5px);
  }
  .copyright{
    background-color: #ababab;
  }
  .copyright p{
    font-size: 16px !important;
    color: white ;
  }
  footer{
    background-color: rgb(0, 0, 51);
  }
 
  .footer-div h1 {
    padding-top: 30px;
    font-size: 16px !important;
    color: rgba(245, 245, 245, 0.592);
  }
  .footer-div p {
   
    font-size: 16px !important;
    color: white !important;
  }